.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.styledButton {
  margin: 10px;
  background-color: #fff;
  color: #5e8f58;
}

.todo-input, .confirm-input-action {
  margin-bottom: 20px;
}
